.chip{
    min-width : 8ch;
    padding : 8px;
    border : 2px solid var(--primary-color);
    border-radius: 2rem;
    color : var(--text-color);
}

.chip.active,
.chip:hover{
    background-color: var(--primary-color);
    color : var(--nav-background-color);
}

