.nav__search__container{
    border: 1px solid var(--primary-color);
    width : 80%;
    background-color: var(--nav-background-color);
    color : var(--text-color);
}

.nav__search{
    background-color: var(--nav-background-color);
    color : var(--text-color);
}

.nav__search::placeholder{
    font-weight: bold;
}

.nav__search__container.mobile__search{
    display : none;
}

@media  screen and (max-width : 768px) {
    

    .nav__search__container.mobile__search{
        display: flex;
        justify-content: center;
        width : 80%;
        margin : auto;
    }

  
}
