@import url("https://lens-ui.netlify.app/style.css");
@import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");

:root{
    --light-theme-bg-color: rgb(255 255 255 / 98%);
    --light-theme-navbar-bg-color: rgb(255 255 255 / 98%);
    --light-theme-text-color: #282827;
    --overlay-text-color: rgba(40,66,88,0.10196078431372549);
    --overlay-bg-color: rgba(0,0,0,0.3);
    --text-color: #282827;
    --text-active-color: rgba(40,40,39,0.7450980392156863);
    --primary-color: #e50048;
    --primary-active-color: #c90039;
    --primary-bg-color: #ffbfd2;
    --light-theme-divider-color : #dbdbdb;
    --dark-them-divider-color : #3c3c3c;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: var(--light-theme-bg-color);
    color : var(--light-theme-text-color);
}

.cursor-ptr{
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.main__container{
    display : grid;
    grid-template-columns: min-content 1fr;
    grid-gap : 2rem;
    height: 100vh;
}

.main__section--header{
    height: 2rem;
}

.grid-autofill-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    grid-template-rows: min-content;
    place-items: center;
  }

.authentication__wrapper{
    min-height: calc(100vh - 4rem);
}

.category__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.75rem;
    height : min-content;
   
    margin-top:2rem;
}

.sort__filter {
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;
    font-size : 1.5rem;
    position: relative;
    margin : 1rem;
    margin-bottom: 3rem;
}
  

  
.sort__dropdown {
    position: absolute;
    top: 90%;
    left : 20%;
    z-index: 999;
    background-color: var(--light-theme-bg-color);
    width : max-content;
    border : 1px solid var(--primary-color);
   
}

.sort__dropdown li{
    font-size: 1rem;
    border-bottom : 1px solid var(--primary-color);
    padding : 3px 7px;
}

.sort__dropdown li:hover{
    background-color: var(--primary-active-color);
    color : var(--white-color)
}

.sort__dropdown li:last-child{
    border : none;
}


@media  screen and (max-width : 458px) {
    .main__container{
        grid-template-columns: 1fr;
    }
}